@import url(./__accent/two-columns__accent.css);
@import url(./__brief/two-columns__brief.css);
@import url(./__main-text/two-columns__main-text.css);
@import url(./__paragraph/two-columns__paragraph.css);
@import url(two-columns-theme-gray.css);

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
