@import url(__iframe/video__iframe.css);
@import url(__iframes/video__iframes.css);

.video {
  min-height: auto;
  width: 100%;
  margin-bottom: -160px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 100px;
}
