@import url(../vendor/normalize.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/animation/rotation.css);

@import url(../blocks/content/techniques/techniques.css);
@import url(../blocks/content/section/section.css);
@import url(../blocks/content/cards/cards.css);

@import url(../blocks/content/two-columns/two-columns.css);

@import url(../blocks/content/video/video.css);

@import url(../description/description.css);

@import url(../blocks/content/oakley/oakley.css);

@import url(../blocks/content/feynman/feynman.css);

@import url(../blocks/content/khan/khan.css);

@import url(../blocks/content/table/table.css);
@import url(../blocks/content/kaufman/kaufman.css);

@import url(../blocks/content/resources/resources.css);

@import url(../blocks/footer/footer.css);

.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}
