@import url(__description/cards__description.css);
@import url(__item/cards__item.css);
@import url(__title/cards__title.css);
@import url(__image/cards__image.css);

.cards {
  width: 920px;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.cards .cards__item {
  width: 33%;
  box-sizing: border-box;
  padding-right: 100px;
}
