@import url(__description/);
@import url(__item/);
@import url(__title/);
@import url(__images/);

.cards {
  width: 920px;
  height: auto;
  margin: 0px auto;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.cards .cards__item {
  width: 33%;
  box-sizing: border-box;
  padding-right: 100px;
}
