@import url(../../../header/rotation.css);

.kaufman-triangle {
  height: 660px;
  width: 636px;
  position: absolute;
  right: -210px;
  top: 0;
  background-image: url(../../../../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  -webkit-animation: spin 20s linear infinite;
}
