.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border: 1px solid red;
  position: absolute;
  width: 100%; /*check this, is there a width?*/
  /* display: inline-block; */
  /* parameters for the header section */
}
.header__title{
  border: 1px solid red;
  display: flex;
  /*align-items: center;*/
  margin-left: 64px;
  justify-items: center;
  position: relative;
  top: 200px; /*check this again, this doesnt look right make sure it says on the paper*/
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000;
  width: 730px;

}
.header__subtitle{
  border: 1px solid red;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  text-align: left;
  line-height: 18px;
  font-size: 25px;
  font-weight: normal;
  color: #000;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  border: 1px solid red;
  position:absolute;
  /*display: inline-flexbox; /*this is not a display value*/
  right: 0;
  bottom: 0;
  top: 64px;
  background-color: #2f80ed;
}

.main-illustration {
  height: auto;
  width: auto;
  position: absolute;
 /* display: inline-flexbox;*/
  right: 0;
  bottom: 0;
  top: 64px;

}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo{
  position: absolute;
  z-index: 1;
}

.logo__place_header{

width: 154px;
height: 31px;
top: 30px;
left: 64px;
}


