@import url(../blocks/header/header.css);
@import url(../blocks/content/two-columns/two-columns.css);
@import url(../blocks/content/section/section-subtitle.css);
@import url(../blocks/content/section/section-title.css);
@import url(../blocks/content/section/_theme/section-subtitle_theme_dark.css);
@import url(../blocks/content/section/_theme/section-title_theme_dark.css);
@import url(../images/logo/logo.css);
@import url(../blocks/content/feynman/feynman.css);
@import url(../blocks/content/table/table.css);
@import url(../blocks/content/kaufman/kaufman.css);
@import url(../blocks/footer/footer.css);
.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

.description {
  padding-top: 100px;
}

.digits {
  display: flex;
  align-items: center;
  margin-bottom: 100px;
  padding-top: 100px;
  justify-content: center;
  flex-direction: column;
}
