.page {
  min-width: 1100px;
  /* we don't know how to make mobile versions of websites yet, */
  /* so here we've set a minimum page width */
  max-width: 1600px;
  /* here we've set a maximum page width */
  margin: 0 auto;
  /* this ensures that all content is centered on screens wider than 1600px */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  border: 1px solid red;
  position: relative;
  width: 100%; /*check this, is there a width?*/
  /* display: inline-block; */
  /* parameters for the header section */
}
.header__title{
  border: 1px solid red;
  display: flex;
  /*align-items: center;*/
  margin-left: 64px;
  justify-items: center;
  position: relative;
  top: 200px; /*check this again, this doesnt look right make sure it says on the paper*/
  text-align: left;
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  color: #000;
  width: 730px;
  z-index: 2;

}
.header__subtitle{ 
  border: 1px solid red;
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  text-align: left;
  line-height: 18px;
  font-size: 25px;
  font-weight: normal;
  color: #000;
  z-index: 2;
}

.header__link{
  color: #2f80ed;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  border: 1px solid red;
  position:absolute;
  /*display: inline-flexbox; /*this is not a display value*/
  right: 0;
  bottom: 0;
  top: 64px;
  background-color: #2f80ed;
}
.main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
 /* display: inline-flexbox;*/
  right: 0;
  bottom: 0;
  top: 64px;

}

/* here we have two examples of selectors in order to remind you how to set styles for elements */

/* including elements with key-value modifiers */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.logo{
  position: absolute;
  z-index: 1;
}

.logo__place_header{

width: 154px;
height: 31px;
top: 30px;
left: 64px;
}


.description {
  /*display: flex;*/
  position: relative;
  margin-top: 100px;
  border: red 1px solid;
  
}

.two-columns{
  
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  margin: 0px;
  min-width: 784px;
  min-height: 100px;
  
}

.two-columns__brief{
  
  display: flex;
  /*flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  align-items: flex-start;*/
  
  line-height: 1.2;
  font-size: 18px;
  font-style: normal;
  width: 175px;
}

.two-columns__main-text{
display: column;
width: 80%;
min-width: 784px;
align-items: top;
}
.two-columns__paragraph{
line-height: 34px;
font-size: 24px;
font-style: normal;
margin-bottom: 30px;
}
.two-columns__paragraph:last-of-type{
margin-bottom: 0px;
}


.accent{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
  color:black;
}